@import "~scss/variables";

.eecom-player-detail__products {

    .sw-many-to-many-assignment-card__select-container {
        background-color: $color-gray-100;
    }

    .eecom-player-detail__product-stream-select {
        margin-bottom: 10px;
    }

    .eecom-player-detail-base__product-stream-preview-link {
        text-align: right;
        font-size: $font-size-small;
        margin-bottom: 32px;

        a {
            color: $color-shopware-brand-500;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
        }

        .sw-icon {
            margin-left: 6px;
        }
    }
}
