{% block eecom_club_image %}
    <div class="eecom-club-image" :class="clubImageClasses">
        <template v-if="!isPlaceholder">

            {% block eecom_club_image_preview %}
                <sw-media-preview-v2 class="eecom-club-image__image"
                                     :source="mediaId"
                                     :hideTooltip="false">
                </sw-media-preview-v2>
                <sw-label
                    v-if="isCover"
                    class="eecom-club-image__cover-label"
                    variant="primary"
                    size="medium"
                    appearance="pill">
                    {{ $tc('eecom-club.mediaForm.coverSubline') }}
                </sw-label>
            {% endblock %}

            <sw-context-button class="eecom-club-image__context-button">
                {% block eecom_club_image_context %}
                    {% block eecom_club_image_context_cover_action %}
                        <sw-context-menu-item v-if="!isCover" @click="$emit('eecom-club-image-cover')">{{ $tc('eecom-club.mediaForm.buttonAsCover') }}</sw-context-menu-item>
                    {% endblock %}

                    {% block eecom_club_image_context_delete_action %}
                        <sw-context-menu-item variant="danger" @click="$emit('eecom-club-image-delete')">{{ $tc('eecom-club.mediaForm.buttonRemove') }}</sw-context-menu-item>
                    {% endblock %}
                {% endblock %}
            </sw-context-button>
        </template>

        <template v-else class="is--invalid-drag">
            {% block eecom_club_image_placeholder %}
                <sw-icon class="eecom-club-image__placeholder-icon" :name="'default-object-image'" :small="true"></sw-icon>
            {% endblock %}
        </template>
    </div>
{% endblock %}
