.eecom-player-data-basic-info {

    .sw-field--checkbox {
        display: flex;
    }

    .eecom-player-data-info-playing-foot-field {

        .sw-field__radio-option {
            display: inline-grid;
            margin-bottom: 0;
        }
    }
}
