@import "~scss/variables";

$eecom-font-list-color-error: $color-crimson;
$eecom-font-list-color-success: $color-emerald;

.eecom-font-list {
    .eecom-font-list__content {
        width: 100%;
        height: 100%;
        position: absolute;

        .is--inactive {
            color: $eecom-font-list-color-error;
        }

        .is--active {
            color: $eecom-font-list-color-success;
        }
    }
}
